

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




@keyframes slideToLeft {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 
    @keyframes circle_left {
        from{
            left: -100%;
            top: -50%;
        }
        to{
            left:-30%;
            top:-8%;
        }
    }

    @keyframes circle_right {
        from{
            right: -100%;
        }
        to{
            right:-40%;
        }
    }
 }

@media (min-width: 576px) { 
      @keyframes circle_left {
        from{
            left: -100%;
            top: -50%;
        }
        to{
            left:-20%;
            top:-8%;
        }
    }

    @keyframes circle_right {
        from{
            right: -100%;
        }
        to{
            right:-30%;
        }
    }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    @keyframes circle_left {
        from{
            left: -100%;
            top: -50%;
        }
        to{
            left:-10%;
            top:-8%;
        }
    }

    @keyframes circle_right {
        from{
            right: -100%;
        }
        to{
            right:-10%;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
     @keyframes circle_left {
        from{
            left: -100%;
            top: -50%;
        }
        to{
            left:-15%;
            top:-8%;
        }
    }

    @keyframes circle_right {
        from{
            right: -100%;
        }
        to{
            right:-15%;
        }
    }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    @keyframes circle_left {
        from{
            left: -100%;
            top: -50%;
        }
        to{
            left:-10%;
            top:-8%;
        }
    }

    @keyframes circle_right {
        from{
            right: -100%;
        }
        to{
            right:-10%;
        }
    }
}